.main {
    left: 0;
    color:red;
}

.game {
  float: left;
  position: relative;
  left: 30%;
  margin-top: 10px;
  box-shadow: 10px 10px 5px #888888;
}

.border {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 100%;
    background-color: darkslategray;
}